.hero {
  background-color: var(--color-black);
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  width: 100%;
}

.heroTitle h1 {
  font-family: 'Poppins', sans-serif;
  color: var(--color-white);
  font-size: 32px;
  font-weight: 600;
  margin: 0;
  line-height: 1.4;
}

.imageContainer {
  width: 212px;
  height: 212px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroImage {
  height: 100%;
  width: auto;
  object-fit: cover;
  object-position: right;
  transform: scale(2.2);
  transform-origin: right center;
}
